body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-family: "Merriweather", serif;
  font-size: 36px;
}

.content {
  line-height: 1.8;
}

.content p {
  font-size: 16px;
  margin-bottom: 30px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
}

.form-group textarea {
  height: 150px;
}

.submit-btn {
  grid-column: 1 / -1;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #2980b9;
}

.footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
  font-size: 14px;
}

/* Additional styles for other pages */

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.post-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.post-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-card h3 {
  margin-top: 0;
}

.post-card h3 a {
  text-decoration: none;
  color: #333;
}

.post-card h3 a:hover {
  text-decoration: underline;
}

.post-card .overview {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.post-meta {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.post-meta span {
  margin-right: 10px;
}

.categories span {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.content h2 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.content a {
  color: #3498db;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.back-link {
  margin-right: 20px;
}

.back-link i {
  margin-right: 5px;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  margin: 0 15px;
}

.navigation ul li a {
  text-decoration: none;
  color: #444;
}

.navigation ul li a.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav.navigation ul li a.logo svg {
  display: block;
}

.main-content {
  text-align: center;
}

.post-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
}

.categories span {
  margin-right: 10px;
}

.footer {
  text-align: center;
  margin-top: 40px;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 12px 16px;
  text-align: left;
}

.table th {
  background-color: #36a64f;
  color: #fff;
  font-weight: 600;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #e6e6e6;
}

/* Navigation styles */
nav {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

/* Underline effect */
nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

/* Hover effect */
nav ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

nav ul li a:hover::after {
  opacity: 1;
}

#welcome-message {
  color: #36a64f;
}
