{% extends 'accounts/base.html' %} {% block title %} Sign Up! - Scrumptious
Recipes {% endblock title %} {% block content %}
<h1>Sign up!</h1>
<div>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button>Signup</button>
  </form>
</div>

{% endblock content %}
