{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}Tracker{% endblock %}
        </title>
        <link rel="stylesheet" href="" />
        {% block extra_head %}
            <!-- Additional head elements can be included here -->
            <link rel="stylesheet" href="{% static 'css/tasks.css' %}" />
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li id="welcome-message">Welcome back {{ user.username }}!</li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                    <!-- Add more links as needed -->
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}<!-- Main content will be injected here -->{% endblock %}
        </main>
        <footer>
            <p>&copy; 2024 Tracker</p>
        </footer>
        <script src=""></script>
        {% block extra_scripts %}<!-- Additional scripts can be included here -->{% endblock %}
    </body>
</html>
