{% extends 'tasks/base.html' %}

{% block title %}Home - My Website{% endblock %}
{% block content %}
    <div>
        <h1>Create Task</h1>
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
{% endblock %}
