{% extends 'tasks/base.html' %}

{% block title %}Task List{% endblock %}
{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% if not tasks %}
            <p>You have no tasks</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Start date</th>
                        <th scope="col">Due date</th>
                        <th scope="col">Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            {% if task.is_complete %}
                                <td>Yes</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
