{% extends 'projects/base.html' %}

{% block content %}
    <div>
        <h1>My Projects</h1>
        <h2>
            <a href="{% url 'create_project' %}"">Create Project</a>
            <h2>
                {% if not projects %}
                    <p>You are not assigned to any projects</p>
                {% else %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        {% endblock %}
